Flow3/Flow3.json
[
    {
        "id": "61359b52b0ef41e1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f45f9d41cfb70eeb",
        "type": "mqtt in",
        "z": "61359b52b0ef41e1",
        "name": "",
        "topic": "sic/flow3/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "b8e357c73048b21b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "4b0c3cb6bddb1e52"
            ]
        ]
    },
    {
        "id": "4b0c3cb6bddb1e52",
        "type": "json",
        "z": "61359b52b0ef41e1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "df57d32ee2e67ac3",
                "cfc05cba77ce783a",
                "daf2578396d65d96"
            ]
        ]
    },
    {
        "id": "df57d32ee2e67ac3",
        "type": "function",
        "z": "61359b52b0ef41e1",
        "name": "nombre",
        "func": "msg.payload = msg.payload.id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "783ec8c8e06e0f19",
                "aa9ea79b9e6865ce"
            ]
        ]
    },
    {
        "id": "cfc05cba77ce783a",
        "type": "function",
        "z": "61359b52b0ef41e1",
        "name": "temp",
        "func": "msg.payload = msg.payload.temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "ec75df48a7c5b19e"
            ]
        ]
    },
    {
        "id": "daf2578396d65d96",
        "type": "function",
        "z": "61359b52b0ef41e1",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.temp\nmsg.topic = msg.payload.id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "64edd4ddb47c7fb7"
            ]
        ]
    },
    {
        "id": "783ec8c8e06e0f19",
        "type": "ui_text",
        "z": "61359b52b0ef41e1",
        "group": "f043a2bf2c9edfc4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "ec75df48a7c5b19e",
        "type": "ui_gauge",
        "z": "61359b52b0ef41e1",
        "name": "",
        "group": "f043a2bf2c9edfc4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "64edd4ddb47c7fb7",
        "type": "ui_chart",
        "z": "61359b52b0ef41e1",
        "name": "",
        "group": "f043a2bf2c9edfc4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 550,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "aa9ea79b9e6865ce",
        "type": "debug",
        "z": "61359b52b0ef41e1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "b8e357c73048b21b",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "gabo2022",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f043a2bf2c9edfc4",
        "type": "ui_group",
        "name": "Valores actuales",
        "tab": "459642576915b9c3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "459642576915b9c3",
        "type": "ui_tab",
        "name": "Flow3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
